<h1>Searching for - <%= @search_term %></h1>
<table border="1">
	<tr>
		<th>State</th>
		
	</tr>
	<% @courses.each do |course| %>
		<tr class=<%= cycle('even','odd') %>>
	
			<td><%= course["state"] %></td>
	
		</tr>
	<% end %>

</table>
